body{
    font-family: "Lato", sans-serif;
}
/*định dạng khung*/
.phara{
    display: flex;

    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
}
.paper{
    width:80%;
    color:#181717;
    font-size: 1.6rem;
    line-height: 1.5;
}