body{
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
}

/*định dạng khung*/
.phara{
    display: flex;
    line-height: 2em;
    margin: 0 5%;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
}

.paper{
    width:80%;
    color:#181717;
    line-height: 1.5;
}

.wrap-contact{
    display: flex;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: auto;
    align-items: center;
}

.khungtrai{
    width:620px;
}

.khung{
    margin: 30px 0;
}

.input-contact{
    width:100%;
    display:block;
}

/*định dạng nội dung*/
.title-contact{
    font-size: 2.2rem;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;

}

.nd-contact{
    font-size: 1.8rem;
}

.tieude-contact{
    font-size: 1.8rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: 600;
}

.input-contact input{
    width:600px;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #d5d7d9;
    border-radius: 5px;
    font-size: 1.8rem;
    color:#181717;
    padding: 8px 18px;
    
}

.input-contact textarea{
    width:600px;
    height: 90px;
    border: none;
    outline: none;
    border: 2px solid #d5d7d9;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 8px 18px;
}
.textarea-contact::placeholder{
    font-family:  "Lato", sans-serif;
}

.button-contact{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    width:20%;
    height: 100%;
    background: #181717;
    border: none;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(o,0,0,.1);
    cursor: pointer;
    font-size: 1.8rem;
    color: #d5d7d9;
    padding:12px 10px;
}

.button-contact:hover{
    color:#181717;
}
/*định dạng icon*/
.iconcontact{
    font-size: 1.8rem;
    margin: 0 10px;
}
/*gg map*/
.phr-gg-map{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100%;
}
