* {
    --color: #0b0d21;
}

.LR {
    padding: 135px 0px;
}

.LR .title {
    text-align: center;
}

.LR .part-1 {
    margin-top: 50px;
}

.LR .list_title {
    color: var(--color);
    font-size: 4.2rem;
    font-weight: 800;
}

.LR .courses {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.LR .courses .course {
    margin-top: 30px;
    margin-left: 30px;
    width: 270px;
    height: 380px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(218, 220, 237, 0.5);
    background-color: #fdf0df;
}



.LR .course:hover .img {
    transform: scale(1.2);
}

.LR .subject-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 30%;
    border-radius: 16px 16px 0px 0px;
}

.LR .img {
    position: absolute;
    inset: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.LR .doc {
    padding: 10px;
}

.LR .part {
    margin-top: 20px;
    color: var(--color);
    font-size: 2.2rem;
    font-weight: 700;
}

.LR .title-img {
    margin-top: 15px;
    color: var(--color);
    font-size: 2.2rem;
    font-weight: 800;
}

.LR .desc {
    margin-top: 10px;
    color: #686977;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
}

.LR .part-2 {
    margin-top: 50px;
}

/* Cho chữ ... ở dòng thứ 5 */
.dots {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Làm phần chuyển trang */
.to_test {
    padding-bottom: 100px;
}

.to_test .content {
    display: flex;
    gap: 20px;
}

.test-items {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 16px;
}

.test-items .img-test {
    z-index: -1;
    position: absolute;
    inset: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: right center;
}

.test-items .info {
    z-index: 1;
    padding: 20px;
    width: 70%;
}

.test-items .info .title-item {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

.test-items .info .desc {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
    overflow: hidden !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 !important;
}

.test-items .to-test-btn {
    display: flex;
    justify-content: flex-start;
}

.test-items .to-test-btn .text {
    color: #000;
}

.test-items .to-test-btn .log {
    background-color: #fdf0df;
    outline: 3px #fdf0df solid;
}

.test-items .to-test-btn .log:hover {
    background-color: transparent;
}

.test-items .to-test-btn .log:hover .text {
    color: #fff;
}
