.main-prenium {
    width: 90%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 100px 0px;
    display: block;
}

.Text {
    width: 100%;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.Text h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 52px;
    text-align: center;
}

.Group1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box.prenium-mid {
    border-radius: 10px;
}

.box {
    border: 1px solid #e9eaf0;
    border-radius: 10px;
    width: 32%;
    transition: 0.5s;
}

.in-box {
    width: 100%;
    padding: 20px;
}

.noidung {
    width: 100%;
}

.test-pre {
    font-size: 2rem;
    font-weight: 500;
    line-height: 34px;
}

.tgian {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 50px;
}

.tien {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 96.48px;
}

.cost {
    display: flex;
}

.mota-prenium {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;
    margin: 10px 0;
}

.prenium-list {
    display: flex;
    text-align: center;
    margin: 15px 0px;
}

.vector {
    font-size: 20px;
    line-height: 18px;
}

.name-prenium-list {
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
}

.prenium-left .k-hoc {
    padding: 146px 0px 0px 0px;
}

.prenium-hocngay {
    margin-top: 20px;
}

.box:hover {
    background-color: #111727;
    color: #fff;
}

.box:hover .log {
    background-color: #ffee00;
    outline: 3px #ffee00 solid;
    color: #000;
}
