* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
}

:root {
    --font-color: #0b0d21;
}

/* ===== Common ===== */
.content {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.Logo {
    color: var(--font-color);
    font-size: 2.4rem;
    font-weight: 700;
    border: none;
    margin-right: 125px;
    display: flex;
}

.Logo .lg {
    margin-bottom: 2.5px;
}

.Logo .desc-Logo {
    margin-left: 5px;
}

.btn {
    padding: 15px 20px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 15px;
}

.pro {
    display: flex;
    cursor: pointer;
    gap: 0.4rem;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(
            15deg,
            #880088,
            #aa2068,
            #cc3f47,
            #de6f3d,
            #f09f33,
            #de6f3d,
            #cc3f47,
            #aa2068,
            #880088
        )
        no-repeat;
    background-size: 300%;
    border: none;
    background-position: left center;
    transition: background 0.3s ease;
}

.pro:hover {
    background-size: 320%;
    background-position: right center;
}

.pro:hover svg {
    fill: #fff;
}

.pro svg {
    width: 23px;
    fill: #f09f33;
    transition: 0.3s ease;
}
/* ================ Header ================ */
.header {
    background-color: #fdf0df;
    padding-top: 10px;
    position: sticky;
    top: -10px;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

.navbar .nav-items {
    display: flex;
}

.navbar .nav-items .item {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 15px 20px;
    transition: all 500ms;
}

.navbar .nav-items .item:hover {
    background: #ffee00;
}

.navbar .actions {
    margin-left: auto;
    display: flex;
}

.log {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.log:hover {
    background-color: transparent;
}

.log:hover .text {
    color: #181717;
}

/* =============== main =============== */
/* ====== head ====== */
/* Nội dung */
.head {
    /* display: flex; */
    margin-left: 0;
    height: calc(100vh - 78px);
    background: #fdf0df;
    position: relative;
    padding-top: 95px;
}

.head .info {
    width: 35%;
}

.head .title {
    color: var(--font-color);
    font-size: 6.2rem;
    font-weight: 900;
}

.head .desc {
    margin-top: 20px;
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.head .head-actions {
    display: flex;
}

.head .hoc-ngay {
    width: 200px;
}

.head .head-btn {
    margin: 40px 20px 0px 0px;
}

/* Access (Đánh giá) */
.access {
    margin-top: 100px;
    position: relative;
}

.access .number-review {
    margin-top: 16px;
    color: var(--font-color);
    font-size: 2.2rem;
    font-weight: 700;
}

.access .result-review {
    margin-top: 6px;
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
}

.access .desc-review {
    width: 85px;
    margin-top: 16px;
    color: var(--font-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    border-bottom: 1.5px solid #000;
}

.access .book {
    position: absolute;
    right: 0;
    top: 44px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(21%) saturate(3987%)
        hue-rotate(0deg) brightness(105%) contrast(107%);
}

/* Photo (Hình ảnh) */
.head .content-photo {
    margin-top: 100px;
}

.head .photo1 {
    position: absolute;
    top: 100px;
    right: calc((100vw - 1600px) / 2 + 305px);
}

.head .photo2 {
    position: absolute;
    top: 100px;
    right: calc((100vw - 1600px) / 2 + 5px); /*135px*/
}

.head .photo3 {
    position: absolute;
    top: 550px;
    right: calc((100vw - 1600px) / 2 + 305px);
}

.head .photo4 {
    position: absolute;
    right: calc((100vw - 1600px) / 2 + 5px); /*135px*/
    top: 396px;
}

.head .scoll-down {
    position: absolute;
    top: 706px;
    right: calc((100vw - 1600px) / 2 + 105px);
}

.head .scoll-down .mouse {
    margin-left: 32.5px;
}

.head .scoll-down .desc {
    margin-top: 12px;
}

/* Comments */
.comments {
    padding: 160px 135px;
}

.comments .comments_title {
    text-align: center;
}

.comments .comments_title .title {
    color: var(--color);
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 123.81%;
}

.comments .comments_title .desc {
    color: #686977;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 155.556%;
}

.comments #form-List {
    width: 100vw;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

.comments #form-List::-webkit-scrollbar {
    display: none;
}

.comments #list {
    display: flex;
    width: max-content;
}

.comments #list .comment {
    margin-top: 70px;
    width: 370px;
    height: 416px;
    background-color: #fdf0df;
    border-radius: 12px;
    scroll-snap-align: start;
}

.comments #list .comment:not(:first-child) {
    margin-left: 30px;
}

.comments #list .comment .cmts {
    padding: 40px 20px;
}

.comments #list .comment .heading {
    color: #0b0d21;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 155.556%;
}

.comments #list .comment .observe {
    display: flex;
    margin-top: 20px;
}

.comments #list .comment .open {
    width: 20px;
    margin-bottom: auto;
}

.comments #list .comment .info {
    margin-left: 20px;
}

.comments #list .comment .obs {
    text-align: left;
    width: 282px;
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
    position: relative;
}

.comments #list .comment .obs::after {
    content: "";
    width: 282px;
    height: 1px;
    background-color: #0b0d21;
    position: absolute;
    bottom: -20px;
    border-radius: 999px;
    right: 0;
}

.comments #list .avatar {
    margin-top: 42px;
    display: flex;
}

.comments #list .avatar .avt {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.comments #list .avatar .name-stars {
    margin-left: 14px;
}

.comments #list .name-stars .name {
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 155.556%;
}

.comments .direction {
    text-align: center;
}

.comments .direction .button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fe0;
    transition: 0.5s;
    margin: 0 10px;
}

.comments .direction .button:hover {
    opacity: 0.6;
}

/* Subcribe */
.subcribe {
    background-color: #ffee00;
    padding: 115px 435px 100px;
}

.subcribe .content {
    position: relative;
}

.subcribe .heading-sub {
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    color: var(--font-color);
    text-align: center;
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 5.2rem;
}

.subcribe .desc-sub {
    color: var(--font-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    width: 570px;
    margin: 10px auto;
}

.subcribe .form-group {
    margin: 40px auto 0px;
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcribe .form-group .email-input {
    color: var(--font-color);
    background-color: transparent;
    outline: none;
    border: none;
    border: 2px solid var(--font-color);
    width: 393px;
    border-radius: 8px;
    padding: 15px 0px 15px 15px;
    font-size: 1.8rem;
    font-weight: 400;
}

.subcribe .form-group .email-input::placeholder {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
}

.subcribe .form-error {
    color: red;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    visibility: hidden;
}

.subcribe .form-group:has(:invalid:not(:placeholder-shown)) .form-error {
    visibility: visible;
}

.subcribe .form-group .sub-btn {
    height: 55px;
    width: 159px;
    margin-bottom: auto;
}

.subcribe .form-group:has(:invalid) .sub-btn {
    opacity: 0.7;
    pointer-events: none;
}

.subcribe .sub-book1 {
    position: absolute;
    left: calc((100vw - 1600px) / 2 - 200px);
    top: 50px;
}

.subcribe .sub-book2 {
    position: absolute;
    transform: rotate(90deg);
    right: calc((100vw - 1600px) / 2 - 200px);
    top: 25px;
}

/* Function Web */
.function_web {
    background-color: #fdf0df;
    padding: 50px;
}

.function_web .heading {
    margin-top: 50px;
    color: var(--font-color);
    font-size: 4.2rem;
    font-weight: 800;
}

.function_web .web {
    max-width: 100%;
    width: 970px;
    object-fit: cover;
}

.function_web .group-info {
    display: flex;
}

.function_web .group-info .info {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 240px;
    box-shadow: 0 6px 10px rgba(218, 220, 237, 0.5);
    margin: 30px 20px 0px 0px;
    transition: 1s ease;
}

/* .function_web .group-info .info:first-child {
    margin-top: 50px;
} */

.function_web .group-info .info:hover {
    transform: translateY(-20px);
}

.function_web .group-info .info .icon {
    text-align: center;
    filter: brightness(0) saturate(100%) invert(53%) sepia(64%) saturate(1620%)
        hue-rotate(208deg) brightness(100%) contrast(102%);
    margin-bottom: 5px;
}

.function_web .group-info .info .title {
    color: var(--font-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 10px;
}

.function_web .group-info .info .desc {
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.func-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.func-btn {
    --color: #828aff;
    padding: 2em 15em;
    background-color: transparent;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    border: 3px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    font-size: 1.8rem;
    font-weight: 700;
}

.func-btn::before,
.func-btn::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 999px;
    z-index: -1;
    background-color: var(--color);
    transition: 500ms ease;
}

.func-btn::before {
    top: -1em;
    left: -1em;
}

.func-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.func-btn:hover::before,
.func-btn:hover::after {
    height: 800px;
    width: 800px;
}

.func-btn:hover {
    color: #34447c;
    transform: translateY(-10px);
}

.func-btn:hover .text {
    color: #000;
}

.func-btn:active {
    filter: brightness(0.8);
}

/* =============== footer =============== */
.footer {
    background-color: #fdf0df;
    padding: 95px 135px 0px 123px;
}

.footer .row {
    display: flex;
}

.footer .heading {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer .item {
    padding-bottom: 14px;
}

.footer .item a,
.footer .row .email-call {
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .row-top {
    display: flex;
    justify-content: space-between;
}

.footer .email-call .mail-call {
    color: var(--font-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.footer .social-media .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 25px 0px;
    gap: 20px;
}

/* for all social containers*/
.footer .social-media .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}
/* instagram*/
.footer .social-media .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* facebook*/
.footer .social-media .fb {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);
}

.footer .social-media .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}
/* linkdin*/
.footer .social-media .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}
/* Whatsapp*/
.footer .social-media .containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.footer .social-media .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.footer .social-media .socialSvg {
    width: 17px;
}

.footer .social-media .socialSvg path {
    fill: rgb(255, 255, 255);
}

.footer .social-media .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer .row-bottom {
    margin-top: 50px;
    padding: 28px 0px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.footer .row-bottom .copy-right {
    margin-left: auto;
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
}
